.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/vladkorzun.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/vladkorzun.xcuserdatad/xcschemes/xcschememanagement.plist
